.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.left {
    justify-self: start;
}

.center {
    justify-self: center;
}

.right {
    justify-self: end;
}