<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Levylaari Add Album</title>
</head>
<body style="margin: 10px;">
    <h1>Add New Album</h1>

    <div>
        <form th:object="${album}" th:action="@{/save}" method="post">

            <label for="title">Title: </label>
	        <input type="text" id="title" th:field="*{title}" />
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br>

            <label for="artist">Artist: </label>
	        <input type="text" id="artist" th:field="*{artist}" />
            <span th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"></span><br>

            <label for="releaseYear">Release Year: </label>
	        <input type="number" id="releaseYear" th:field="*{releaseYear}" />
            <span th:if="${#fields.hasErrors('releaseYear')}" th:errors="*{releaseYear}"></span><br>

            <label for="trackCount">Track Count: </label>
	        <input type="number" id="trackCount" th:field="*{trackCount}" />
            <span th:if="${#fields.hasErrors('trackCount')}" th:errors="*{trackCount}"></span><br>

            <label for="genre">Genre: </label>
	        <select th:field="*{genre}">
                <option th:each="genre: ${genres}"
                        th:value="${genre.genreId}"
                        th:text="${genre?.genreName}">
                </option>
            </select><a class="btn btn-primary" href="/addgenre"> Add or Edit Genre</a><br>
            <input class="btn btn-success" type="submit" value="Add Album to List"></input>

        </form>
    </div>
</body>
</html>