<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Levylaari Add Genre</title>
</head>
<body style="margin: 10px;">
    <h1>Add or Edit Genres</h1>

    <table class="table table-striped" style="max-width: 600px">
        <tr>
            <th>Genres </th>
            <th>Rename </th>
            <th>Delete </th>
            
        </tr>

        <tr th:each="genre : ${genres}">
            <td th:text="${genre.genreName}"></td>
            <td><a class="btn btn-info" th:href="@{/editgenre/{genreId}(genreId=${genre.genreId})}">Rename</a></td>
            <td><a class="btn btn-danger" th:href="@{/deletegenre/{genreId}(genreId=${genre.genreId})}"
                onclick="return confirm('Delete Genre?')">
                    Delete
                </a>
            </td>
        </tr>
    </table>

    <div>
        <form th:object="${genre}" th:action="@{/savegenre}" method="post">
            <label for="genreName">New Genre: </label>
            <input type="text" id="genreName" th:field="*{genreName}" />
            <span th:if="${#fields.hasErrors('genreName')}" th:errors="*{genreName}"></span>
            <input class="btn btn-success" type="submit" value="Add Genre" /><br>
        </form>
        <button class="btn btn-primary" sec:authorize="hasAuthority('ADMIN')" onclick="window.location.href='/albumlist'">Album List</button>
    </div>
    
</body>
</html>