<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Levylaari Add Genre</title>
</head>
<body>
    <h1>Add or Edit Genres</h1>

    <table>
        <tr>
            <th>Current Genres</th>
            <th>Rename</th>
            <th>Delete</th>
            
        </tr>

        <tr th:each="genre : ${genres}">
            <td th:text="${genre.genreName}"></td>
            <td><a th:href="@{/editgenre/{genreId}(genreId=${genre.genreId})}">Rename Genre</a></td>
            <td><a th:href="@{/deletegenre/{genreId}(genreId=${genre.genreId})}">Delete Genre</a></td>
        </tr>
    </table>

    <div>
        <form th:object="${genre}" th:action="@{/savegenre}" method="post">

            <label for="genreName">New Genre: </label>
            <input type="text" id="genreName" th:field="*{genreName}" /> <br>

            <input type="submit" value="Add Genre" />

        </form>
    </div>
    
</body>
</html>